/pkg/
/doc/reference/
/doc/po/*.pot
/doc/po/*/
/.yardoc/
/test/.test-result/
/test/fixtures/run-regression-test/db.old/
/test/fixtures/run-regression-test/db.new/
/test/fixtures/run-regression-test/results/
/Gemfile.lock
